# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Lambda packages
lambda/processor/package/
*.zip

# Python
__pycache__/
*.pyc
